$primary   : #2c3e50;
$secondary : #26A69A;
$accent    : #1976d2;

$dark      : #1d1d1d;

$positive  : #39b982;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$light-shade: #FFFFFF;
$light-gray: #f3f3f3;

$sm: 4px;
$md: 8px;
$lg: 16px;
$xl: 32px;


$mobile : 480px;
$tablet : 768px;
$desktop : 1440px;
